{% extends 'base.html.twig' %}

{% block title %}My Cars{% endblock %}

{% block body %}

    <div class="text-center mt-5">
        <table class="table table-hover table-striped table-border border-danger" style="max-width: 500px;margin:auto; font-family: 'Roboto Light', sans-serif;">
            <thead class="border" >
            <td colspan="2" style="font-family: 'Roboto Light', sans-serif;">
                <h1 style="color: gold">License Plates</h1>
            </td>
            </thead>
            <tbody>
            {% for license_plate in license_plates %}
                <tr class="align-bottom" style="color: orange">
                    <td class="align-middle">
                        <p class="text-center mt-1 fs-4 w-auto h-auto" >{{ license_plate.licensePlate }}</p>
                    </td>
                    <td class="align-middle">
                        <a href="{{ path('license_plates_edit', {'id': license_plate.id}) }}">
                            <button class="btn btn-outline-warning w-auto h-auto " type="button" style="max-block-size: 100%">
                                Edit
                            </button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No records found</td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <td colspan="2">
                <a href="{{ path('license_plates_new') }}">
                    <button class="btn btn-warning w-auto h-auto fs-7" type="submit">
                        Add Car
                    </button>
                </a>

            </td>
            </tfoot>
        </table>

    </div>


{% endblock %}
