{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}
    <h1>Report Activity</h1>

    {{ include('activity/_form.html.twig') }}

    <a href="{{ path('license_plates_index') }}">Back to MyCars</a>
    <br>
    <a href="{{ path('home') }}">Back to Home</a>
{% endblock %}
