{% extends 'base.html.twig' %}

{% block title %}New LicensePlates{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

    {{ form_end(form) }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}
