{{ form_start(form) }}

<div class = "border text-center mt-5" style="max-width: 480px;margin: auto; color: orange; border-spacing: 5px">
    <h1 class="m-3"> Message Box</h1>
    <br><br>

    <div class="form-control form-lg" style="color: orange; border: orangered">

        {{ form_widget(form.message) }}
        <br>
        {{ form_widget(form.Send,{
            'attr':{
                'class': 'btn-outline-warning btn-lg',
            }
        }) }}

    </div>


</div>



{{ form_end(form) }}
