{% extends 'base.html.twig' %}

{% block title %}Notification{% endblock %}

{% block navBar %}
{% endblock %}

{% block body %}

    <p>
        The user {{ from }} has sent you the following message:
        <br>
        {{ text }}
    </p>

{% endblock %}
